<div class="card card-outline-primary">

    <div class="card-body">
        <form action="addEmploye" method="post">
            <div class="form-body">
                <h3 class="card-title m-t-15">Thông tin nhân viên</h3>
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">ID</label>
                            <input name="id" readonly value="{{id}}" type="text" id="id" class="form-control"
                                   placeholder="ID">
                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group has-danger">
                            <label class="control-label">Tên</label>
                            <input name="name" type="text" id="name"
                                   class="form-control form-control-danger" placeholder="Tên nhân viên">
                        </div>
                    </div>
                    <!--/span-->
                </div>
                <!--/row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label class="control-label">Vi tri</label>
                            <select name="department" id="department" class="form-control custom-select">
                                {{#each positions}}
                                    <option>{{name}}</option>
                                {{/each}}
                            </select>

                        </div>
                    </div>
                    <!--/span-->
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Lương</label>
                            <input name="salary" id="salary" type="number" class="form-control"
                                   placeholder="Lương">
                        </div>
                    </div>
                    <!--/span-->
                </div>

            </div>
            <div class="form-actions">
                <button id="btsummit" type="submit" class="btn btn-success"><i class="fa fa-check"></i>Save
                </button>
                <button type="button" onclick="cancelClick()" class="btn btn-inverse">Cancel</button>
            </div>
        </form>
    </div>
</div>
<script src="js/lib/toastr/toastr.min.js"></script>
<script>


    function cancelClick(e) {
        window.location.href = "/nhanvien";
    }


    $("#btsummit").click(function (e) {
        let salary = $('#salary').val();
        let name = $('#name').val();
        if (!salary || !name) {
            e.preventDefault();

            if (!salary) {
                $('#salary').css('border', function () {
                    return '1px solid red';
                })
            } else {
                $('#salary').css('border', function () {
                    return '1px solid #e9ecef';
                })
            }
            if (!name) {
                $('#name').css('border', function () {
                    return '1px solid red';
                })
            } else {
                $('#name').css('border', function () {
                    return '1px solid #e9ecef';
                })
            }
            alert("Vui lòng nhập đủ thông tin")
        } else {
            $('#salary').css('border', function () {
                return '1px solid #e9ecef';
            });
            $('#name').css('border', function () {
                return '1px solid #e9ecef';
            });
        }
    });
</script>