<div class="card card-outline-primary">
    <div class="card-header">
        <h4 class="m-b-0 text-white">Đổi mật khẩu</h4>
    </div>
    <div class="card-body">
        <form method="post" action="/apis/user/changePassword">
            <div class="form-body">
                <hr>
                <div class="row p-t-20">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Mật khẩu cũ</label>
                            <input name="oldpass" id="oldpass" type="password" class="form-control">

                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Mật khẩu mới</label>
                            <input name="newpass" type="password" id="newpass" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label">Nhập lại mật khẩu mới</label>
                            <input name="renewpass" id="renewpass" type="password" class="form-control">
                        </div>
                    </div>
                    <div style="margin-left: 15px;margin-bottom: 10px">
                        <input name="user" id="user" type="hidden">
                        <small id="smallhelp" class="form-control-feedback text-danger"></small>
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <button id="btsummit" type="submit" class="btn btn-success"><i class="fa fa-check"></i> Đổi mật khẩu
                </button>
                <button id="btcancel" onclick="cancelClick()" type="button" class="btn btn-inverse">Hủy bỏ</button>
            </div>
        </form>
    </div>
</div>
<script>
    function cancelClick(e) {
        window.location.href = "/";
    }
    $('#user').val(localStorage.getItem('user', ""));
    $("#btsummit").click(function (e, opts) {
        if (!opts) {
            e.preventDefault();
            let oldPass = $('#oldpass').val();
            let newPass = $('#newpass').val();
            let renewPass = $('#renewpass').val();
            let check = false;
            if (oldPass === newPass) {
                $('#smallhelp').text("Mật khẩu mới phải khác mật khẩu cũ");
                $('#newpass').css('border', function () {
                    return '1px solid red';
                })
                $('#oldpass').css('border', function () {
                    return '1px solid red';
                })
            }
            if (newPass.length < 8) {
                $('#smallhelp').text("Mật khẩu mới phải có ít nhất 8 ký tự")
                $('#newpass').css('border', function () {
                    return '1px solid red';
                });
                $('#renewPass').css('border', function () {
                    return '1px solid red';
                })
            }
            if (newPass !== renewPass) {
                $('#smallhelp').text("Mật khẩu nhập lại không đúng")
                $('#renewPass').css('border', function () {
                    return '1px solid red';
                })
            }
            if (oldPass !== newPass && newPass === renewPass && newPass.length >= 8) {
                $('#smallhelp').text("");
                $('#renewPass').css('border', function () {
                    return '1px solid #e9ecef';
                });
                $('#oldpass').css('border', function () {
                    return '1px solid #e9ecef';
                });
                $('#newpass').css('border', function () {
                    return '1px solid #e9ecef';
                });
                check = true;
            }
            if (check) {
                $.ajax("/apis/user/checkpassword", {
                    type: "POST",
                    data: {
                        token: localStorage.getItem('user', ""), oldPass
                    },
                    dataType: "json",
                    success: function (data) {
                        if (data.status) {
                            $(e.currentTarget).trigger('click', {'handle': true});
                            $('#smallhelp').text("Mật khẩu thay đổi thành công");
                        } else
                            $('#smallhelp').text("Mật khẩu cũ không đúng");
                    },
                    error: function (err) {
                        console.log(err);
                        $('#lbErr').text('Mạng mẽo sao ấy :)');
                    }
                });
            }
        } else {
            return;
        }
    });
</script>