<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Upload exel chấm công</h4>
                <h6 class="card-subtitle">File exel mẫu tại <code>đây</code></h6>
                <form id="uploadForm"
                      enctype="multipart/form-data"
                      action="uploads"
                      class="dropzone"
                      method="post">
                    <div class="fallback">
                        <input name="file" type="file"/>
                    </div>
                    <button style="margin-top: 16px" class="btn btn-success" type="submit" value="Upload" name="submit">
                        Upload
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>